OUTCOMEHUB_DB_NAME=outcomehub
OUTCOMEHUB_DB_USER=outcomehub
OUTCOMEHUB_DB_PORT=5432
OUTCOMEHUB_DB_PASSWORD_FILE=.secrets/postgres_password
OUTCOMEHUB_APP_PASSWORD_FILE=.secrets/app_password
OUTCOMEHUB_MIGRATOR_PASSWORD_FILE=.secrets/migrator_password
